* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 450px;
    /* background-color: rgb(236, 104, 104); */
}

#main h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 10px 20px;
}

#main .text,
.img {
    width: 50%;
    height: 400px;
    /* background-color: yellow; */
    float: left;
    border: 1px solid #ddd;
}

.text p {
    font-size: 30px;
    padding: 20px;
    text-align: justify;
}

.img img {
    width: 100%;
    height: 380px;
    padding: 30px;
}

@media (max-width: 786px) {
    #main h1 {
        color: blue;
    }

    .text p {
        font-size: 20px;
    }

    .img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    #main h1 {
        font-size: 34px;
        color: red;
    }

    #main .text,
    .img {
        width: 100%;
    }

    #main .text {
        height: auto;
    }

    #main .img {
        height: auto;
    }

    .text p {
        font-size: 18px;
    }

    #maim .img img {
        height: auto;
    }
}

@media(min-width: 920px) and (max-width: 1000px){
    body{
        background-color: red;
    }
}